<div class="container mt-5">
    <ag-grid-angular style="width: 1500px; height: 600px;" 
    class="ag-theme-balham"
    [rowData]="rowData" 
    [columnDefs]="columnDefs" (rowClicked)="onRowClicked($event)">
</ag-grid-angular>
</div>

<div class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Ag-Grid Row Click</h4>
        </div>
        <div class="modal-body">
      <p>Ag-Grid Row Clicked!!</p>
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
